.form {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 20rem;
  gap: 1rem;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.form input {
  width: 8.5rem;
  height: 2rem;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(209, 209, 209);
  text-indent: 5px;
  font-size: 0.8rem;
  box-shadow: 2px 2px 4px rgb(187, 187, 187);
}
.form__btn {
  background-color: rgb(0, 64, 255);
  width: 3.5rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  color: white;
  border-style: none;
  justify-self: center;
  transition: 200ms ease-in;
}
.form__btn:hover {
  cursor: pointer;
  transform: scale(110%);
}
