* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.App__background {
  padding: 1rem;
  background-color: darkslategray;
  border-radius: 10px;
}
